@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.escondido{
  display: none;
}
.menu{
  max-width: 400px;
  width: 100%;
  height: 667px;
  background-color: aqua;
  position: absolute;
  top:0;
  right: 250px;
  z-index: 1;
  display: block;
  -webkit-transition: max-width .5s linear; 
  -moz-transition: max-width .5s linear; 
  -ms-transition: max-width .5s linear; 
  -o-transition: max-width .5s linear; 
  transition: max-width .5s linear;
}
.menu.escondido {
  max-width: 0px;
  pointer-events: none;
}
.container{
  background-color: #F3F3F3;
  max-width: 400px;
  width: 100%;
  height: 667px;
  position: relative;
}
.topo{
  background-color: #FFFFFF;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  margin-bottom: 26px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.topo ion-icon{
  width: 45px;
  height: 45px;
}
.chat{
  height: 481px;
  overflow-y: scroll;
}
p{
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}
.chat div{
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 4px;
}
.caixaMensagem{
  height: 80px;
  padding-top: 25px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}
.caixaMensagem > div{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 17px;
}
.caixaMensagem ion-icon{
  height: 26px;
  width: 26px;
}
input{
  height: 30px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
textarea:focus, input:focus, select:focus {
  outline: 0;
}
input::-webkit-input-placeholder{
  color: #000000;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}
.status{
  background-color: #DCDCDC;
}
.message{
  background-color: #FFFFFF;
}
.private_message{
  background-color: #FFDEDE;
}
strong{
  font-weight: 700;
}
span{
  color: #afaeac;
}